table{
    margin: auto;
}

tr td {
    border-collapse: collapse;
    border: 2px solid black;
    background-color: aquamarine;
    font-size: 18px;
    width: auto;
    text-align: center;
}

body {
    background-image: linear-gradient(#bdfcfc, aqua);
}

h1 {
    
    color: #343434;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;  
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
    text-align: center;
}

