@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;1,100&display=swap');

textarea
{
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
  border: 3px solid #86f9f9;
  border-radius: 7px;
  background-color: #bff6f6;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

button{
    line-height: 2.5;
    border: 2px solid rgb(111, 235, 244);
    border-radius: 7px;
    background-color: rgb(214 240 238);
    color: rgb(0, 0, 0);
}

.mycode
{
  height: 400px;
  width: 60%;
  resize: none;
}

#myrezult
{
  height: 200px;
  width: 30%;
  resize: none;
}