table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
}
    
th, td {
    border: 1px solid rgb(0, 0, 0);
    vertical-align: middle;
    text-align: center;
}

caption {
    text-transform: uppercase;
    font-size: 24px;
    }
    
caption::first-letter {
    font-size: 48px;
    color: rgb(216, 29, 107);
    font-weight: 800;
    }

.table-img{
    display: block;
    margin-left: auto;
    width: 80px; 
    margin-right: auto;
}

.add_row{
    display: grid;
    justify-content: space-around;
    font-size: 24px;
    justify-items: center;
}



.add_p{
    text-align: center;
}

#inputs-for-table{
    margin-top: 0;
}
